<div class="col mb-2">
  <button type="button" class="btn shadow btn-outline-info btn-audio-word">1 подарок</button>
</div>
<div class="col mb-2">
  <button type="button" class="btn shadow btn-outline-info btn-audio-word">2 конкретный</button>
</div>
<div class="col mb-2">
  <button type="button" class="btn shadow btn-outline-info btn-audio-word">3 поездка</button>
</div>
<div class="col mb-2"><button type="button" class="btn shadow btn-outline-info btn-audio-word">4 паук</button></div>
<div class="col mb-2">
  <button type="button" class="btn shadow btn-outline-info btn-audio-word">5 исследовать</button>
</div>
