<div class="row d-flex mb-4 mt-5 flex-lg-row flex-column audiocall-options">
  <div class="col mb-2 d-flex justify-content-center">
    <button aria-label="опция 1" type="button" class="ps-4 pe-4 text-nowrap btn shadow btn-outline-info btn-audio-word btn-option" data-number="1" data-word = "<%-option1%>">1 <%-option1%></button>
  </div>
  <div class="col mb-2 d-flex justify-content-center">
    <button aria-label="опция 2" type="button" class="ps-4 pe-4 text-nowrap btn shadow btn-outline-info btn-audio-word btn-option" data-number="2" data-word = "<%-option2%>">2 <%-option2%></button>
  </div>
  <div class="col mb-2 d-flex justify-content-center">
    <button aria-label="опция 3" type="button" class="ps-4 pe-4 text-nowrap btn shadow btn-outline-info btn-audio-word btn-option" data-number="3" data-word = "<%-option3%>">3 <%-option3%></button>
  </div>
  <div class="col mb-2 d-flex justify-content-center">
    <button aria-label="опция 4" type="button" class="ps-4 pe-4 text-nowrap btn shadow btn-outline-info btn-audio-word btn-option" data-number="4" data-word = "<%-option4%>">4 <%-option4%></button>
  </div>
  <div class="col mb-2 d-flex justify-content-center">
    <button aria-label="опция 5" type="button" class="ps-4 pe-4 text-nowrap btn shadow btn-outline-info btn-audio-word btn-option" data-number="5" data-word = "<%-option5%>">5 <%-option5%></button>
  </div>
</div>
<div class="row audiocall-nav">
  <div class="col d-flex justify-content-center align-content-center justify-content-center align-self-center align-items-center">
    <button aria-label="не знаю" type="button" class="ps-4 pe-4 btn shadow btn-audio-word btn-outline-danger mt-2 btn-option btn-unknown" data-number="6">не знаю</button>
    <button aria-label="дальше" type="button" class="ps-4 pe-4 btn invisible shadow btn-audio-word btn-outline-primary mt-2 btn-next">дальше</button>
    <button type="button" class="invisible btn-game-results" data-bs-toggle="modal" data-bs-target="#progressModal"></button>
  </div>
</div>
