<div class="row d-flex mb-4 mt-5 flex-lg-row flex-column audiocall-options">
  <div class="col mb-2">
    <button type="button" class="btn shadow btn-outline-info btn-audio-word btn-option" data-word = "<%-option1%>">1 <%-option1%></button>
  </div>
  <div class="col mb-2">
    <button type="button" class="btn shadow btn-outline-info btn-audio-word btn-option" data-word = "<%-option2%>">2 <%-option2%></button>
  </div>
  <div class="col mb-2">
    <button type="button" class="btn shadow btn-outline-info btn-audio-word btn-option" data-word = "<%-option3%>">3 <%-option3%></button>
  </div>
  <div class="col mb-2">
    <button type="button" class="btn shadow btn-outline-info btn-audio-word btn-option" data-word = "<%-option4%>">4 <%-option4%></button>
  </div>
  <div class="col mb-2">
    <button type="button" class="btn shadow btn-outline-info btn-audio-word btn-option" data-word = "<%-option5%>">5 <%-option5%></button>
  </div>
</div>
<div class="row audiocall-nav flex-column">
  <div class="col d-flex justify-content-center">
    <button type="button" class="btn shadow btn-audio-word btn-outline-danger mt-2 btn-option btn-unknown">не знаю</button>
    <button type="button" class="btn invisible shadow btn-audio-word btn-outline-primary mt-2 btn-next">дальше</button>
    <button type="button" class="invisible btn-game-results" data-bs-toggle="modal" data-bs-target="#progressModal"></button>
  </div>
</div>
