.auth {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  border-radius: 50%;
  border-width: 2px;
}

.auth-img {
  width: 30px;
  height: 30px;
}

.btn-login.hide {
  display: none;
}

.btn-logout.hide {
  display: none;
}
