<div class="row">
    <img src="https://learnwords-rslang-01.herokuapp.com/<%-image%>" alt="<%-word%>" class="col-md-4 p-2 word-image">
    <div class="col-md-8 p-2">
        <div class="row">
            <p class="fs-5 fw-bold col-6"><i></i>
                <%-word%> - <%-transcription%> - <%-wordTranslate%>
            </p>
            <div class="col">
                <button class="btn btn-secondary button-sound" type="button"><img src="../../../assets/svg/sound.svg"
                        alt="Word audio" class="sound-image"></button>
            </div>
        </div>
        <p>
            <%=textMeaning%> / <%-textMeaningTranslate%>
        </p>
        <p>
            <%=textExample%> / <%-textExampleTranslate%>
        </p>
        <div class="d-grid gap-2 d-md-block">
            <button class="btn btn-danger button-difficult auth-user-visible-buttons" type="button"><%-buttonContent%></button>
            <button class="btn btn-success button-learned auth-user-visible-buttons" type="button">Отметить как изученное</button>
        </div>
    </div>
</div>