<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <a href="https://rs.school/js/" class="rss"></a>
        <div>2022</div>
        <div>
            <a href="https://github.com/volha1/" class="link-dark"><img src="../../../assets/svg/github.svg"
                    alt="github link" class="github">volha1</a>
            <a href="https://github.com/darya-startsava" class="link-dark"><img src="../../../assets/svg/github.svg"
                    alt="github link" class="github">darya-startsava</a>
        </div>
    </div>
</div>