@import '../../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../../node_modules/bootstrap/scss/variables';
@import '../../../variables.scss';

.chapter1 {
  background-color: $yellow-100;
}

.chapter2 {
  background-color: $yellow-200;
}

.chapter3 {
  background-color: $yellow-300;
}

.chapter4 {
  background-color: $yellow-400;
}

.chapter5 {
  background-color: $yellow-500;
}

.chapter6 {
  background-color: $yellow-600;
}

.chapter7 {
  background-color: $yellow-700;
}

.easy-page {
  background-color: $learned-word-list-color;
}
