
<div class="row">
    <p class="col text-center fs-3 fw-bold right-answer">Верно!</p>
    <p class="col text-center fs-5 fw-bold">Промежуточный результат:<br>170 баллов</p>
</div>
<div class="container border border-3 border-info justify-content-center rounded-3">
    <div class="row mt-5">
        <div class="col-12">
            <div class="col progress mx-5 progress-bar-wrapper">
                <div class="progress-bar bg-info progress-bar-sprint" role="progressbar" aria-valuenow="50"
                    aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="col fs-5 text-center">+10 баллов</div>
        </div>
        <div class="col-2">
            <button type="button" class="btn" aria-label="Аудио слова"> <svg class="audio-img"
                    xmlns="http://www.w3.org/2000/svg" version="1.0" viewBox="0 0 75 75">
                    <path
                        d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z"
                        style="stroke-width: 5; stroke-linejoin: round" />
                    <path
                        d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6"
                        style="fill: none; stroke-width: 5; stroke-linecap: round" />
                </svg></button>
        </div>

    </div>
    <div class="fs-2 fw-bold text-center">Word</div>
    <div class="fs-2 fw-bold mb-3 text-center">Перевод</div>
    <div class="mb-3 d-flex gap-5 justify-content-center">
        <button class="btn btn-danger" type="button" aria-label="неверно">Неверно</button>
        <button class="btn btn-success px-4" type="button" aria-label="верно">Верно</button>
    </div>
</div>